/*Moves links in navbar to the right. Could place "ml-auto" in first ul tag for the same effect.*/
.navbar-nav {
    margin-left: auto;
}

/*Centers links after navbar toggler button is clicked.*/
.nav-item {
    text-align: center;
    font-family: 'Noto Serif JP', serif; 
}

/*Changes default font in h1*/
.h1 {
    font-family: 'Noto Serif JP', serif;
}




