/*Moves links in navbar to the right. Could place "ml-auto" in first ul tag for the same effect.*/
.navbar-nav {
    margin-left: auto;
}

/*Centers links after navbar toggler button is clicked.*/
.nav-item {
    text-align: center;
    font-family: 'Noto Serif JP', serif; 
}

/*Changes default font in h1*/
.h1 {
    font-family: 'Noto Serif JP', serif;
}

.page-header {
    font-family: 'Noto Serif JP', serif;
}

.container {
    border: 2px;
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 10px;
    margin-top: 43px;
}

img {
    float: left;
  }



