* {
    /* background-color: rgb(42,33,57); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top#65dfc9, #6cdbeb);


}
/* body {
    background-image: url("background_web.jpg"); */
    /* background-color: rgb(42,33,57); */
    /* background-color: rgb(92, 92, 92);
} */
/* Styles all paragraphs. */
p {
    /* font-family: 'Noto Serif JP', serif; */
    font-weight: 200;
    font-size: 18px;
    text-align: left;
    color:whitesmoke;
    padding-bottom: 15px;
    margin: auto;
}
img.mr-3 {
    margin: 0px!important;
}
/* .btn {
    background: rebeccapurple;
    border-color: rgb(232,128,57)
}
.btn:hover {
    background: rgb(232,128,57)
}
.btn:active {
    background: rgb(232,128,57)
} */
.btn:focus {
    background: rgb(232,128,57)
}
/* Styles footer text (copyright)*/ 
footer p {
    color: whitesmoke;
    text-align: center;
    line-height: 5%;
    padding-top: 15px; 
    margin: 0;
}
/* Styles footer on "About Me" and "Contact" pages */
footer {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: transparent;
  }
/* Styles footer on "Portfolio" page */
footer.portfolio {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
  }
  form {
      text-align: center;
      color: whitesmoke
  }
/* Moves links in navbar to the right. Could place "ml-auto" in first ul tag for the same effect.*/ 
.navbar-nav {
    margin-left: auto;
}
/* Changes color of navbar links */
.navbar-dark .navbar-nav .nav-link { 
    color: whitesmoke;
}
/* Centers links after navbar toggler button is clicked and changes font. */
.nav-item {
    text-align: center;
}
/* Changes font color and font-family of name in navbar. */
.navbar-brand.mb-1.h1 {
    /* font-family: 'Noto Serif JP', serif; */
    color: whitesmoke;
}
/* Styles gray box for main content on each page. */
.container {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border: #007Bff;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}
/* Changes and styles "About Me" font. */
.page-header h1 {
    /* font-family: 'Noto Serif JP', serif; */
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
    padding-top: 8px;
    padding-bottom: 8px;
}
/* Styles photo on "About Me" page. */
.photo {
    float: left;
    padding-right: 15px;
    width: 250px;
    height: 250px;
}
/* Formats flexbox container on "Portfolio" page. */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 25px;
    width: 75%;
    margin: auto;
}
.form {
    width: 75%;
    margin: auto;
}
/* Formats each screenshot/link on "Portfolio" page. */
.flex-item {
    padding: 5px;
    width: 360px;
    height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* align-items: center; */
  }
.aboutLinks.flex-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 10px
}
.aboutLinks.flex-wrapped {
    display: grid;
    place-items: center;
    flex: 1 1 80px;
    /* flex: 0 1 50px; */
    width: auto;
    height: auto;
    margin: 20px;
}
.physicalAddress {
    text-align: center;
}
#portfolioContainer {
    border: #007Bff;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}
#contactSubmit {
    margin: 20px;
}
@media only screen and (max-width: 850px) {
    #contactContainer {
    margin-top: 5px;
    }
    #portfolioContainer {
        margin: auto;
    }
    .aboutLinks.flex-wrapper {
        margin: 10px;
    }
    .form {
        width: 100%;
    }
    img.photo {
        width: 150px;
        height: 150px;
    }
    
}